.add-book-container{
    flex:1;
    background:#F5F7FB;
    min-height:100vh;
    padding:35px;
}

.add-book-card{

    max-width:750px;

    margin:30px auto;

    background:white;

    padding:35px;

    border-radius:18px;

    box-shadow:0 8px 18px rgba(0,0,0,.08);

}

.add-book-card h2{

    margin-bottom:25px;

    text-align:center;

}

.form-group{

    display:flex;

    flex-direction:column;

    margin-bottom:20px;

}

.form-group label{

    margin-bottom:8px;

    font-weight:600;

}

.form-group input,
.form-group select,
.form-group textarea{

    padding:12px;

    border-radius:10px;

    border:1px solid #ddd;

    font-size:15px;

    outline:none;

}

.form-group textarea{

    resize:none;

}

.save-btn{

    width:100%;

    padding:14px;

    border:none;

    border-radius:10px;

    background:#4F46E5;

    color:white;

    font-size:16px;

    cursor:pointer;

}

.save-btn:hover{

    background:#4338CA;

}